.hoverEffect {
  transition: 0.5s;
  height: 400px;
}

.top {
  height: 100%;
  transition: .5s;
}

.bottom {
  opacity: 0;
  height: 0;
  transition: .5s;
}

.hoverEffect:hover{
  height: 1000px;
}

.hoverEffect:hover > .top {
  height: 40%;
}

.hoverEffect:hover > .bottom {
  height: 60%;
  opacity: 1;
}