.hover-effect {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.hover-effect:after {
  content: '»';
  position: absolute;
  opacity: 0;  
  top: 20px;
  right: -20px;
  transition: 0.5s;
}

.hover-effect:hover{
  padding-right: 24px;
  padding-left:8px;
}

.hover-effect:hover:after {
  opacity: 1;
  right: 24px;
}